html{
    font-size: 100%;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(40, 40, 45);
    box-sizing: border-box;
}

/* App Styles */
/* SIGN IN */
.sign-in-container{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-header{
    margin: 10px;
    color: white;
    font-size: xxx-large;
}

.sign-in-img{
    width: 10%;
    height: auto;

    margin-top: 20vh;

    border-radius: 50%;
}

.sign-in-failed{
    color: red;
    margin-top: 10px;
}

.sign-in-form{
    padding: 10px;
    display: flex;

    flex-direction: column;
}

.sign-in-form-username{
    width: 20vw;
    height: 3em;
    margin: 5px;
}

.sign-in-form-password{
    width: 20vw;
    height: 3em;
    margin: 5px;
}

.sign-in-form-btn-container{
    display: flex;
    justify-content: space-around;
}

.sign-in-form-btn{
    font-size: smaller;
    font-weight: bold;

    height: 2rem;
    width: 45%;

    background-color: rgb(60, 60, 255);
    border: 2px solid black;

    margin-top: 10px;
}

.sign-in-form-btn:hover{
    cursor: pointer;
    background-color: rgb(40, 40, 195);
}

.sign-in-sign-up-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: smaller;
    font-weight: bold;

    height: 1.8rem;
    width: 45%;

    color: black;
    text-decoration: none;

    background-color: rgb(60, 60, 255);
    border: 2px solid black;

    margin-top: 10px;
}

.sign-in-form-remember{
    margin-left: 3px;
    color: white;

    display: flex;
    justify-content: space-between;
    width: 50%;
}

/* MAIN PAGE */
.main-page-container{
    display: grid;

    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: auto;
}

/* posts/timeline */
.timeline-container{
    grid-column: 2;
}

.post{
    display: grid;
    grid-template-columns: 25px 200px;
    grid-template-rows: 25px 2px;

    background-color:rgb(50, 50, 55);
    color: white;

    border: 2px solid rgb(150, 150, 210);
    border-radius: 15px;

    margin: 5px;
    padding: 10px;
}

.post-hr{
    color: rgb(80, 80, 85);
    grid-column: 1 / 4;
    grid-row: 2;
}

.post-user-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.post-user-name{
    grid-row: 1;
    grid-column: 2;
    justify-content: right;
}

.post-text{
    grid-column: 1 / 4;
    grid-row: 3;

    margin-top: 3px;
    margin-bottom: 10px;
}

.post-image-container{
    grid-row: 4;
    grid-column: 1 / 4;

    display: flex;

    justify-content: center;
}

.post-image{
    height: auto;
    width: 30%;

    margin: 0px 5px;
}

/* ADD POST */
.add-post-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
}

.add-post-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    border: 1px solid black;
    background-color: rgb(60, 60, 255);
}

.add-post-btn:hover{
    background-color: rgb(40, 40, 195);
    cursor: pointer;
}

/* LOG OUT BTN */
.logout-btn{
    position: fixed;

    top: 0;
}

/* add post form */
.add-post-form{
    position: fixed;
    top: 30%;
    left: 40%;

    background: rgb(40, 40, 45);
    width: 27.5vw;
    height: 40vh;

    border: 2px solid rgb(150, 150, 210);
    border-radius: 20px;
}

.add-post-form-text-input{
    position: absolute;
    left: 8px;
    bottom: 20%;

    border: 2px solid rgb(150, 150, 210);
    border-radius: 20px;

    padding: 10px;

    width: 25vw;
    height: 20vh;
    resize: none;
}

.add-post-form-hr{
    position: absolute;
    bottom: 29%;
    left: 3.2%;
    width: 93%;
    color:rgba(0,0,0,0.3);
}

.add-post-form-count{
    position: absolute;
    bottom: 22%;
    right: 5%;

    color:rgba(0,0,0,0.3);
}

.add-post-form-btn{
    background-color: rgb(40, 40, 255);
    border-radius: 5px;
    border: none;
    padding: 13px;

    position: absolute;
}

.add-post-form-btn:hover{
    cursor: pointer;
    background-color: rgb(40, 40, 195);
}

.add-post-form-btn.post-btn{
    left: 15px;
    top: 10px;
}

.add-post-form-btn.add-image-btn{
    bottom: 10px;
    left: 10px;
}

.add-post-form-btn.cancel-btn{
    left: 70px;
    top: 10px;
}