/* MAIN PAGE */
.main-page{
    display: grid;

    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: auto;
}

/* posts/timeline */
.timeline{
    grid-column: 2;
}

@import '_post';
@import '_addpost';
@import '_addimage';

/* LOG OUT BTN */
.logout-btn{
    position: fixed;

    background-color: $btn_color;

    border: 1px solid black;
    border-radius: 5px;

    padding: 13px;
    margin: 10px;

    bottom: 0;

    &:hover{
        cursor: pointer;
        background-color: $btn_hover_color;
    }
}
