.timeline{
    grid-column: 2;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #aaa;
        border-radius: 1rem;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 1rem;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
}

.post{
    display: grid;
    grid-template-columns: 5% 95%; 
    grid-template-rows: 2.5rem 1px auto auto;

    align-items: center;

    background-color:$post_background;
    color: white;

    border-top: 1px solid $border_color;

    padding: 0.5rem;
    margin-right: 0.3vw;

    &:nth-child(2){
        border-top: none;
        border-radius: 0.2rem 0.2rem 0 0;
    }

    &:last-child{
        border-radius: 0 0 0.2rem 0.2rem;

        margin-bottom: 1rem;
    }

    &-hr{
        grid-column: 1 / 3;
        grid-row: 2;
        color: gray;
        width: 100%;
    }
    
    &-user-icon{
        grid-row: 1;
        grid-column: 1;

        text-align: center;

        &-img{
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
        }
    }
    
    &-user-name{
        grid-row: 1;
        grid-column: 2;
        justify-content: right;
        margin-left: 0.5rem;
    }
    
    &-text{
        grid-column: 1 / 3;
        grid-row: 3;

        word-break: break-word;
        white-space: normal;

        margin-top: 3px;
        margin-bottom: 10px;

        font-size: large;
    }
    
    &-image-container{
        grid-row: 4;
        grid-column: 1 / 3;
        text-align: center;
    }
    
    &-image{
        height: 12.5rem;
        max-height: 200px;
        margin: 0px 5px;
        
        border-radius: 0.3rem;
    }
}