.post{
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 25px 2px;

    align-items: center;

    background-color:$post_background;
    color: white;

    border: 2px solid $border_color;
    border-radius: 15px;

    margin: 5px;
    padding: 10px;

    &-hr{
        color: gray;
        width: 100%;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    
    &-user-icon{
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    
    &-user-name{
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        justify-content: right;
        margin-left: 10px;
    }
    
    &-text{
        grid-column: 1 / 4;
        grid-row: 3;
    
        margin-top: 3px;
        margin-bottom: 10px;

        font-size: large;
    }
    
    &-image-container{
        grid-row: 4;
        grid-column: 1 / 4;
    }
    
    &-image{
        max-height: 200px;
        margin: 0px 5px;
    }
}