/* LOG OUT BTN */
.sidebar{
    width: 15vw;
    height: 50vh;
    
    border: 1px solid $border_color;
    border-radius: 0.3rem;
    background-color: $post_background;

    position: fixed;
    top: 0.5rem;
    left: 0.5rem;

    transition: height 0.1s;
    overflow: hidden;

    &-user{
        height: 3.2rem;

        display: flex;
        align-items: center;
        
        
        padding: 0.3rem;


        &-img{
            border-radius: 50%;
            height: 4.5vh;
        }

        &-display-name{
            width: 9.9vw;
            
            color: lightgray;
            font-weight: lighter;
            font-size: 1.2em;
            padding: 0 0.5rem;

            text-overflow: ellipsis;
            overflow: hidden;
            
        }

        &:hover{
            cursor: default;
        }
    }

    &-collapse-btn{
        position: absolute;
        top: 0.4rem;
        right: 1rem;

        border: none;
        background: none;
        outline: none;
        font-size: 2rem;

        color: lightgray;

        transform: scaleX(1.5);

        &:hover{
            cursor: pointer;
        }

        &:focus{
            border: none;
        }
    }

    &-options{
        position: relative;
        height: 90%;

        &-option{
            width: 100%;
            padding: 1rem;
    
            background: none;
            border: none;
            outline: none;
    
            font-size: 1.3em;
            color: lightgray;
    
            &.logout-btn{
                position: absolute;
                bottom: 0;
                left: 0;
            }
    
            &:hover{
                cursor: pointer;
                background-color: rgba($border_color, 0.1);
            }
        }
    }
}
