@use "_globals";
@use "_signin";
@use "_signup";
@use "main";
@use "profile";

.credit {
  position: fixed;
  bottom: 0;
  right: 10px;
  color: darkgray;
  font-size: 12px;

  & a {
    color: darkblue;
    &:visited {
      color: darkblue;
    }
  }
}
